.footer-container {
    background-color: #222; 
    color: #fff;            
    text-align: center;
    padding: 25px 0;
    font-size: 16px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footertext {
    margin: 0;
    font-weight: 400;
}

.footertext strong {
    color: #007bff; 
}
